body {
    background-color: #C0C0C0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #00BFFF;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 12px;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}
