body {
    background-color: #C0C0C0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
}

.nav-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;           /* Remove default padding */
    margin: 20px;        /* Add margin around the list */
    background-color: #f9f9f9; /* Light grey background */
    border: 1px solid #ccc; /* Border around the list */
    border-radius: 5px;    /* Rounded corners */
}

.nav-list li {
    padding: 10px 15px; /* Padding around list items */
    margin: 5px 0;      /* Margin between list items */
    background-color: #eafcfc; /* Light blue background for items */
    border-left: 5px solid #333333; /* Teal left border for items */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

/* Change background color on hover */
.nav-list li:hover {
    background-color: #00BFFF; /* Slightly darker blue on hover */
}
header {
    background-color: #00BFFF;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paw-icon {
    font-size: 40px;
    margin-right: 10px;
}

h1 {
    font-size: 36px;
    color: #fff; /* White text for the title */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun font for the dog bar */
    text-allign: center;
}

h2 {
    text-align: center;
}

main {
    text-align: center;
    margin: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}
